        <div id="full" class="content instructions">
            <h1>Full Moon Phase</h1>
            <p>There is a total of 9 days that straddle The Full Moon Phase.</p>
            <table>
                <tr>
                    <td valign="top" class="column1">Dinner</td>
                    <td>
                        <p>Take 5-9 days (ideally consecutive days and central to the New  Moon):</p>
                        <p>Lunar Bioforce Powders</p>
                        <p>1/2 - 3/4 tsp of <span class="renewal">Renewal</span> powder.</p>
                        <p>1/4 tsp of <span class="maintenance">Maintenance</span> powder.</p>

                        <TMPL_INCLUDE NAME="powders_template.html">
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="column1">Breakfast</td>
                    <td>
                        <p>Optional—take 5-9 days (ideally consecutive days and central to the New  Moon):</p>
                        <p>Lunar Bioforce Powders</p>
                        <p>1/2 - 3/4 tsp of <span class="renewal">Renewal</span> powder.</p>
                        <p>1/4 tsp of <span class="maintenance">Maintenance</span> powder.</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="column1">Pre Breakfast /<br>Post Dinner</td>
                    <td>
                        <p>Take on <b>All</b> Days</p>
                        <p>Take 5-8 drops of Animal Kingdom + 5-8 drops of Plant Kingdom = 10-16 drops of ELEMENTAL Tinctures. The total amount is 20-32 drops daily.</p>

                        <TMPL_INCLUDE NAME="tinctures_template.html">
                    </td>
                </tr>

            </table>
        </div>
