<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <style>
        body {
            font-family: 'PT Sans Narrow', sans-serif;
        }
        .instructions {
            padding-top: 10px;
        }
        tr.row:hover {
            background: orange;
            cursor: pointer;
         }
        .column1 {
            background-color: lightgrey;
            border: solid 1px black;
        }
        td {
            padding: 10px;
        }
        .type_0 {
            background-color: #000;
            color: white;
        }
        .type_1 {
            background-color: aliceblue;
        }

       .type_3 {
            background-color: aliceblue;
        }
        .renewal {
            color: blue;
        }
        .maintenance {
            color: red;
        }
    </style>
</head>
<body>

    <nav role="navigation" class="navbar navbar-dark bg-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)" onclick="flip('phaselist');">Phase List</a> </div>
        </div>
        <div id="navbarCollapse" class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a id="new-link" class="nav-link" href="javascript:void(0)" onclick="flip('new');">New Moon</a>
                </li>
                <li class="nav-item">
                    <a id="quarter-link" class="nav-link" href="javascript:void(0)" onclick="flip('quarter');">Quarter Moon</a>
                </li>
                <li class="nav-item">
                    <a id="full-link" class="nav-link" href="javascript:void(0)" onclick="flip('full');">Full Moon</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="javascript:void(0)">About</a>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>

    <div class='container-fluid'>
        <div id="phaselist" class="content table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Phase Name</th><th>Phase Start</th><th>Phase Date</th><th>Phase End</th>
                </tr>
                </thead>
                <tbody>
                <TMPL_LOOP NAME="phase_list">
                <tr class="row type_<TMPL_VAR NAME="type">">
                    <!-- start <TMPL_VAR NAME="start"> -->
                    <!-- end <TMPL_VAR NAME="end"> -->
                    <!-- phase <TMPL_VAR NAME="phase"> -->
                    <td onclick="flip(<TMPL_VAR NAME="type">);" class="cell phase_name"><TMPL_VAR NAME="name"></td>
                    <td onclick="flip(<TMPL_VAR NAME="type">);" class="cell phase_start"><TMPL_VAR NAME="start_formatted"></td>
                    <td onclick="flip(<TMPL_VAR NAME="type">);" class="cell phase_date"><TMPL_VAR NAME="phase_formatted"></td>
                    <td onclick="flip(<TMPL_VAR NAME="type">);" class="cell phase_end"><TMPL_VAR NAME="end_formatted"></td>
                </tr>
                </TMPL_LOOP>
                </tbody>
            </table>
        </div>
        <TMPL_INCLUDE NAME="new_template.html">
        <TMPL_INCLUDE NAME="quarter_template.html">
        <div id="full" class="content instructions">
            <h1>Full Moon Phase</h1>
            <p>There is a total of 9 days that straddle The Full Moon Phase.</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script>
        function flip(id) {
            var element_id;
            var just_do_it = true;
            var phase_list = ['new','quarter','full','quarter'];
            if (phase_list[parseInt(id)]) {
                element_id = phase_list[id];
            } else {
                element_id = id;
                //don't just flip it if a menu item was clicked
                just_do_it = false;
            }

            $( ".content" ).each(function( index, id ) {
                console.log( index + ": " + $( this ).attr('id') );
                console.log('clicked ' + element_id);
                var current_element_id  = $( this ).attr('id');
                if (element_id === current_element_id ) {
                    console.log('showing ' + current_element_id);
                    $('#' + current_element_id).show();
                } else {
                    console.log('hiding ' + current_element_id);
                    $('#' + current_element_id).hide();
                }
            });
        }

        $( document ).ready(function() {
            //default visibility
            console.log('dom loaded');
            $('#phaselist' ).show();
            $( '#new' ).hide();
            $( '#quarter' ).hide();
            $( '#full' ).hide();
        });
    </script>
</body>
</html>
