<p>General Information Re Powders:</p>
<ol type="a">
    <li>Can be taken between Dinner and Late Dinner. It may be swallowed with good food, fruit juice, herb tea, coffee (not instant coffee), red or white wines and purified water.</li>
    <li>A good option can be to mix Yogurt, Buttermilk or Kefir with high quality oil, and may be taken at any time.</li>
</ol>
<p><b>Note:</b>  Use carbonated water only if you are  taking a High Altitude, Long Distant Flight. </p>
